html,
body,
h1 {
    margin: 10;
    background-color: lightblue;
    align-items: center;   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


ul li{
    font-size: 25px;
    cursor: pointer;
    position: center;
    list-style: none;
    font-family:verdana;
}

.footer {
    background-color: rgb(120, 156, 221);
}
